@keyframes rorateData {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadownInput {
  100% {
    box-shadow: 0 0 60px 20px;
    opacity: 0;
  }
}
