/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4.5rem;
}

header .header {
  height: 4.5rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: #fff;
}

header .img-prev {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.5rem;
}

header p {
  transform: translateX(-3.5%);
}

/* MAIN */
main {
  margin-top: 4.5rem;
}

main .info-box .title {
  height: 3.7rem;
  background-color: #eee;
  font-size: 1.4rem;
  padding-left: 1rem;
}

main .info-box .content {
  padding: 0 1.5rem;
}

main .info-box .content li {
  padding: 1rem;
  gap: 5px;
}

main .info-box .content p {
  min-width: 10rem;
  width: 10rem;
  font-size: 1.35rem;
  color: #999;
}

main .info-box .content p.w-auto {
  width: auto;
}

main .info-box .content input {
  color: #666;
}

main .info-box .btn-confirm {
  border-radius: 5px;
  background-color: #2f3848;
  color: #fff;
  width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.checkbox-wrapper-6 {
  padding-top: 5px;
}

.checkbox-wrapper-6 .tgl {
  display: none;
}
.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 2.5em;
  height: 1.4em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after,
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-6 .tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
  background: #26a2ff;
}
